.container
  = link_to "Add publication", new_publication_path, class: "btn"

  %table.table.table-hover
    %thead
      %tr
        %th Publication Name
        %th Site
        %th Actions
    %tbody
      - @publications.each do |p|
        %tr
          %td
            =link_to p.formatted_name, edit_publication_path(p)
          %td
            =link_to p.domain, 'http://' + p.domain
          %td
            = link_to raw('<i class="icon-pencil"></i>'), edit_publication_path(p)

