.container
  %h2 Add new publication

  %p When an article comes from a particular domain, the monkeys will automatically associate it with the formatted publication name you enter here. Don't worry about capitalization. The chimps will make everything nice and pretty in the final output. Also, if a single domain hosts multiple publications, the baboons will let you choose the correct one.

  = render "form"
