= form_for Article.new, url: articulator_index_url, html: { class: "form-horizontal" } do |f|
  = f.text_field :url, placeholder: "http://", class: "span5"
  = f.submit "Go", class: "btn btn-primary"
